<%= render PageLayout.new(title: @date.strftime("%A, %B %d, %Y"), subtitle: @user.email) do %>
  <div class="mb-6">
    <%= link_to "&larr; Back to #{@user.email}'s Activity".html_safe, activity_buddy_path(@user) %>
  </div>

  <% if @activity_logs.any? %>
    <div class="stack">
      <% @activity_logs.each do |activity_log| %>
        <% next if activity_log.hike? || activity_log.system_board_climb? %>
        <% loggable = @loggables_by_log_id[activity_log.id] %>
        <%= render ActivityCard.for(activity_log: activity_log, loggable: loggable, readonly: true, buddy: @user) if loggable %>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted">No activities on this day.</p>
  <% end %>
<% end %>
