<div class="holds-legend mb-4">
  <div class="legend-item">
    <div class="legend-circle legend-start"></div>
    <span>Start Holds</span>
  </div>
  <div class="legend-item">
    <div class="legend-circle legend-finish"></div>
    <span>Finish Holds</span>
  </div>
  <div class="legend-item">
    <div class="legend-half legend-hand"></div>
    <span>Hand Holds</span>
  </div>
  <div class="legend-item">
    <div class="legend-half legend-foot"></div>
    <span>Foot Holds</span>
  </div>
</div>
