<%= render PageLayout.new(title: @date.strftime("%A, %B %d, %Y")) do %>
  <div class="mb-6">
    <%= link_to "&larr; Back to Activity History".html_safe, activity_history_path %>
  </div>

  <%= turbo_frame_tag "activity_day_detail" do %>
    <% if @activity_logs.any? %>
      <div class="stack">
        <% @activity_logs.each do |activity_log| %>
          <% loggable = @loggables_by_log_id[activity_log.id] %>
          <%= render ActivityCard.for(activity_log: activity_log, loggable: loggable) if loggable %>
        <% end %>
      </div>
    <% else %>
      <p class="text-muted">No activities on this day.</p>
    <% end %>
  <% end %>
<% end %>
